<div class="jumbotron jumbotron-fluid bg-transparent" style="background-image: url(https://media-exp1.licdn.com/dms/image/C561BAQFAKxecRx6LCw/company-background_10000/0?e=2159024400&v=beta&t=y8Nf1MWGtpUioJZUB7xJ8JFBH7578npxpYD9XWRXTtI);">
  <div class="container">
  </div>
</div>