<nav class="navbar navbar-light bg-light">
  <!-- <a href="/" class="navbar-brand" role="button" aria-pressed="true">Airbnb</a> -->
  <%= link_to 'Airbnb', flats_path, class: "btn btn-primary" %>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success mr-1 my-2 my-sm-0" type="submit">Search</button>
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Add Flat</button>
  </form>
</nav>